{% assign slug = page.path | split: "." | first | split: "/" | last %}
{% assign sonnet = site.data.sonnets[slug] %}

{% if sonnet.size == 15 %}
  {% assign q1      = sonnet | slice: 0, 5 %}
  {% assign q2      = sonnet | slice: 5, 4 %}
  {% assign q3      = sonnet | slice: 9, 4 %}
  {% assign couplet = sonnet | slice: 13, 2 %}
{% else %}
  {% assign q1      = sonnet | slice: 0, 4 %}
  {% assign q2      = sonnet | slice: 4, 4 %}
  {% assign q3      = sonnet | slice: 8, 4 %}
  {% assign couplet = sonnet | slice: 12, 2 %}
{% endif %}

<dl class='poem'>
  {% for line in q1 %}
  <dd>{{ line }}</dd>
  {% endfor %}
</dl>

<dl class='poem'>
  {% for line in q2 %}
  <dd>{{ line }}</dd>
  {% endfor %}
</dl>

<dl class='poem'>
  {% for line in q3 %}
  <dd>{{ line }}</dd>
  {% endfor %}
</dl>

{% if couplet %}
<dl class='poem' style='margin-left: 1em'>
  {% for line in couplet %}
  <dd>{{ line }}</dd>
  {% endfor %}
</dl>
{% endif %}

<hr class='logo' />
